.ical-app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50px 1fr 1fr 50px;
}

.ical-app {
  grid-template-areas:
    "header  header"
    "redbox  redbox"
    "bluebox bluebox"
    "greybox greybox"
}

@media only screen and (min-width: 600px) {
  .ical-app {
    grid-template-columns: 480px calc(100vw - 480px);
  }
}

@media screen and (orientation: landscape) {
  .ical-app {
    grid-template-areas:
      "header  header"
      "redbox  bluebox"
      "redbox  bluebox"
      "greybox bluebox"
  }
}

.ical-header {
  grid-area: header;
}

.ical-redbox {
  grid-area: redbox;
}

.ical-bluebox {
  grid-area: bluebox;
  margin-left: 5px;
}

.ical-greybox {
  grid-area: greybox;
}
