@import "index";

.ical-timetable-head {
  background-color: #8789d3;
  border: 1px grey;
  text-align: center;
  z-index: 2;
}

.ical-timetable-head-corner {
  border-style: solid;
  position: sticky;
  left: 0;
  top: 0;
}

.ical-timetable-head-row {
  border-style: none solid solid solid;
  position: sticky;
  left: 0;
}

.ical-timetable-head-column {
  border-style: solid solid solid none;
  position: sticky;
  top: 0;
}

.ical-timetable-head-fill {
  background-color: white;
  border-style: none solid solid none;
  z-index: -1;
}
