.ical-timetable {
  background: none;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: inherit;
}

.ical-timetable-navbar {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  height: 35px;
  width: inherit;
}

.ical-timetable-navbar > div {
  margin: 5px;
  border: 1px solid black;
}

.ical-timetable-navbar-left, .ical-timetable-navbar-right {
  width: 25%;
}

.ical-timetable-navbar-center {
  width: 50%;
}

.ical-timetable-body {
  background: inherit;
  flex: 1 1 auto;
  width: inherit;
  overflow: auto;
}

.ical-timetable-content {
  background: inherit;
  display: grid;
}
